.u-block-d1c4-5 {
  position: absolute;
  top: auto;
  bottom: 27px;
}

.u-block-d1c4-6 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  right: auto;
}

.u-block-d1c4-7 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-1-1 .u-sheet-1 {
  min-height: 1000px;
}

.u-section-1-1 .u-image-1 {
  width: 564px;
  height: 215px;
  margin: 262px 251px 0 auto;
}

.u-section-1-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: -185px 259px 0 351px;
}

.u-section-1-1 .u-image-2 {
  width: 413px;
  height: 171px;
  margin: 358px 18px 0 auto;
}

.u-section-1-1 .u-text-2 {
  margin: -151px 42px 0 733px;
}

.u-section-1-1 .u-image-3 {
  width: 333px;
  height: 330px;
  margin: -440px 146px 0 auto;
}

.u-section-1-1 .u-image-4 {
  width: 463px;
  height: 171px;
  margin: -223px auto 0 0;
}

.u-section-1-1 .u-text-3 {
  margin: -151px 769px 60px 33px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 159px;
    margin-left: 251px;
  }

  .u-section-1-1 .u-text-2 {
    margin-top: -104px;
    margin-right: 0;
    margin-left: 575px;
  }

  .u-section-1-1 .u-image-3 {
    margin-top: -439px;
  }

  .u-section-1-1 .u-image-4 {
    margin-top: -240px;
  }

  .u-section-1-1 .u-text-3 {
    margin-top: -182px;
    margin-right: 602px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-1-1 .u-image-1 {
    margin-right: 156px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 49px;
    margin-left: 141px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 355px;
  }

  .u-section-1-1 .u-text-3 {
    margin-right: 382px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-1-1 .u-image-1 {
    width: 540px;
    height: 206px;
    margin-right: 0;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 747px;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-1-1 .u-image-2 {
    margin-top: 1102px;
  }

  .u-section-1-1 .u-text-2 {
    margin-top: -897px;
    margin-left: 175px;
  }

  .u-section-1-1 .u-image-4 {
    margin-top: -233px;
  }

  .u-section-1-1 .u-text-3 {
    margin-top: 128px;
    margin-right: 202px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 231px;
  }

  .u-section-1-1 .u-image-1 {
    width: 340px;
    height: 130px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 380px;
    margin-left: 0;
  }

  .u-section-1-1 .u-image-2 {
    width: 340px;
    height: 141px;
    margin-top: 2822px;
    margin-right: 0;
  }

  .u-section-1-1 .u-text-2 {
    margin-top: -3124px;
    margin-left: 0;
  }

  .u-section-1-1 .u-image-3 {
    margin-right: 7px;
  }

  .u-section-1-1 .u-image-4 {
    width: 340px;
    height: 126px;
    margin-top: -321px;
  }

  .u-section-1-1 .u-text-3 {
    margin-top: 3350px;
    margin-right: 2px;
    margin-bottom: 0;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(to right, #db545a, #478ac9);
}

.u-section-1-2 .u-sheet-1 {
  min-height: 1002px;
}

.u-section-1-2 .u-image-1 {
  width: 569px;
  height: 181px;
  margin: 245px auto 0 24px;
}

.u-section-1-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: bold;
  margin: -156px 570px 0 22px;
}

.u-section-1-2 .u-image-2 {
  width: 416px;
  height: 625px;
  margin: -86px 0 0 auto;
}

.u-section-1-2 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -582px 22px 0 779px;
}

.u-section-1-2 .u-text-3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 107px 44px 0 733px;
}

.u-section-1-2 .u-text-4 {
  font-size: 1rem;
  margin: 116px 44px 0 733px;
}

.u-section-1-2 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -256px 131px 0 733px;
}

.u-section-1-2 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 275px 77px 0 724px;
}

.u-section-1-2 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -186px 77px 0 724px;
}

.u-section-1-2 .u-text-8 {
  font-size: 1rem;
  margin: 186px 159px 0 724px;
}

.u-section-1-2 .u-image-3 {
  width: 466px;
  height: 275px;
  margin: -301px auto 0 22px;
}

.u-section-1-2 .u-text-9 {
  margin: -273px 688px 60px 34px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-image-1 {
    margin-top: 371px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 6rem;
    margin-top: -411px;
    margin-right: 392px;
    margin-left: 0;
  }

  .u-section-1-2 .u-image-2 {
    margin-top: -561px;
  }

  .u-section-1-2 .u-text-2 {
    margin-top: 54px;
    margin-right: 0;
    margin-left: 601px;
  }

  .u-section-1-2 .u-text-3 {
    margin-top: 125px;
    margin-right: 0;
    margin-left: 577px;
  }

  .u-section-1-2 .u-text-4 {
    margin-right: 0;
    margin-left: 577px;
  }

  .u-section-1-2 .u-text-5 {
    margin-top: -208px;
    margin-right: 87px;
    margin-left: 577px;
  }

  .u-section-1-2 .u-text-6 {
    margin-top: -22px;
    margin-right: 153px;
    margin-left: 601px;
  }

  .u-section-1-2 .u-text-7 {
    margin-right: 153px;
    margin-left: 601px;
  }

  .u-section-1-2 .u-text-8 {
    margin-top: 303px;
    margin-right: 82px;
    margin-left: 584px;
  }

  .u-section-1-2 .u-image-3 {
    margin-top: -366px;
  }

  .u-section-1-2 .u-text-9 {
    margin-top: -213px;
    margin-right: 522px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-image-1 {
    margin-top: 266px;
  }

  .u-section-1-2 .u-text-1 {
    margin-top: -306px;
    margin-right: 172px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 381px;
  }

  .u-section-1-2 .u-text-3 {
    margin-top: 59px;
    margin-left: 357px;
  }

  .u-section-1-2 .u-text-4 {
    margin-left: 357px;
  }

  .u-section-1-2 .u-text-5 {
    margin-left: 357px;
  }

  .u-section-1-2 .u-text-6 {
    margin-top: -17px;
    margin-right: 43px;
    margin-left: 514px;
  }

  .u-section-1-2 .u-text-7 {
    margin-top: -5px;
    margin-right: 43px;
    margin-left: 514px;
  }

  .u-section-1-2 .u-text-8 {
    margin-left: 364px;
  }

  .u-section-1-2 .u-text-9 {
    margin-right: 302px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 993px;
  }

  .u-section-1-2 .u-image-1 {
    width: 540px;
    height: 172px;
    margin-top: 212px;
    margin-left: 0;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -252px;
    margin-right: 0;
  }

  .u-section-1-2 .u-image-2 {
    margin-top: -168px;
  }

  .u-section-1-2 .u-text-2 {
    margin-top: -328px;
    margin-left: 201px;
  }

  .u-section-1-2 .u-text-3 {
    margin-top: -3px;
    margin-left: 177px;
  }

  .u-section-1-2 .u-text-4 {
    margin-left: 177px;
  }

  .u-section-1-2 .u-text-5 {
    margin-top: -213px;
    margin-left: 177px;
  }

  .u-section-1-2 .u-text-6 {
    margin-top: -2px;
    margin-right: 0;
    margin-left: 377px;
  }

  .u-section-1-2 .u-text-7 {
    margin-top: -186px;
    margin-right: 0;
    margin-left: 377px;
  }

  .u-section-1-2 .u-text-8 {
    margin-top: 283px;
    margin-left: 184px;
  }

  .u-section-1-2 .u-image-3 {
    margin-top: -376px;
  }

  .u-section-1-2 .u-text-9 {
    margin-top: -179px;
    margin-right: 122px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-1-2 .u-image-1 {
    width: 340px;
    height: 108px;
    margin-top: 7575px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3rem;
    margin-top: -7444px;
  }

  .u-section-1-2 .u-image-2 {
    width: 340px;
    height: 511px;
    margin-top: 6937px;
  }

  .u-section-1-2 .u-text-2 {
    margin-top: -7788px;
    margin-left: 1px;
  }

  .u-section-1-2 .u-text-3 {
    margin-top: -328px;
    margin-left: 0;
  }

  .u-section-1-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1-2 .u-text-5 {
    margin-top: -288px;
    margin-right: 64px;
    margin-left: 0;
  }

  .u-section-1-2 .u-text-6 {
    margin-left: 177px;
  }

  .u-section-1-2 .u-text-7 {
    margin-left: 177px;
  }

  .u-section-1-2 .u-text-8 {
    margin-left: 0;
  }

  .u-section-1-2 .u-image-3 {
    width: 340px;
    height: 201px;
    margin-top: -345px;
    margin-left: 0;
  }

  .u-section-1-2 .u-text-9 {
    margin-top: -186px;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: linear-gradient(#1a1a1a, #478ac9);
}

.u-section-2 .u-sheet-1 {
  min-height: 1115px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-2 .u-image-1 {
  width: 301px;
  height: 305px;
  margin: 71px auto 0 142px;
}

.u-section-2 .u-text-2 {
  margin: -24px 667px 0 142px;
}

.u-section-2 .u-image-2 {
  width: 308px;
  height: 233px;
  margin: -321px 119px 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 12px 94px 0 714px;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 7px auto 0 200px;
}

.u-section-2 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: -45px 192px 0 auto;
}

.u-section-2 .u-image-3 {
  width: 307px;
  height: 268px;
  margin: 46px 107px 0 auto;
}

.u-section-2 .u-image-4 {
  width: 414px;
  height: 233px;
  margin: -250px auto 0 59px;
}

.u-section-2 .u-text-4 {
  margin: 18px 682px 0 127px;
}

.u-section-2 .u-text-5 {
  margin: -76px 83px 0 728px;
}

.u-section-2 .u-btn-3 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 186px 0 auto;
}

.u-section-2 .u-btn-4 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: -45px auto 60px 204px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    height: 306px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 542px;
    margin-left: 42px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 608px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    height: 232px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 582px;
    margin-left: 27px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 611px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 4px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 364px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 388px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 389px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 391px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-right: 184px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 208px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 209px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 211px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1125px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 39px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-right: 32px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 8px;
  }

  .u-section-2 .u-image-3 {
    margin-right: 33px;
  }

  .u-section-2 .u-image-4 {
    width: 340px;
    height: 191px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 9px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 11px;
  }
} .u-section-3 {
  background-image: linear-gradient(#1a1a1a, #478ac9);
}

.u-section-3 .u-sheet-1 {
  min-height: 998px;
}

.u-section-3 .u-image-1 {
  width: 382px;
  height: 127px;
  margin: 46px auto 0 364px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: -120px 410px 0 379px;
}

.u-section-3 .u-image-2 {
  width: 575px;
  height: 402px;
  margin: 31px auto 0 177px;
}

.u-section-3 .u-image-3 {
  width: 531px;
  height: 372px;
  margin: -387px auto 0 199px;
}

.u-section-3 .u-image-4 {
  width: 153px;
  height: 420px;
  margin: -476px 162px 0 auto;
}

.u-section-3 .u-image-5 {
  width: 163px;
  height: 78px;
  margin: -38px 152px 0 auto;
}

.u-section-3 .u-image-6 {
  width: 163px;
  height: 161px;
  margin: -169px 152px 0 auto;
}

.u-section-3 .u-image-7 {
  width: 176px;
  height: 209px;
  margin: -160px auto 60px 184px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 999px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 19px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 310px;
    margin-left: 279px;
  }

  .u-section-3 .u-image-2 {
    height: 403px;
    margin-top: -433px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -388px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 14px;
  }

  .u-section-3 .u-image-5 {
    margin-top: -529px;
  }

  .u-section-3 .u-image-6 {
    height: 162px;
    margin-top: 119px;
  }

  .u-section-3 .u-image-7 {
    margin-top: -161px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    margin-left: 338px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 200px;
    margin-left: 169px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 145px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 189px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 974px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 158px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 110px;
    margin-left: 79px;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 378px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: -363px;
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 113px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: -106px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 238px;
    margin-top: -502px;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 238px;
    margin-top: -223px;
    margin-left: 0;
  }

  .u-section-3 .u-image-4 {
    margin-top: 72px;
  }

  .u-section-3 .u-image-7 {
    margin-left: 164px;
  }
}