 .u-section-1 {
  background-image: url("images/Capturadetela2023-05-08142059.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 564px;
}

.u-section-1 .u-group-1 {
  width: 388px;
  height: 388px;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 9px 11px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-1 .u-group-1 {
    min-height: 388px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 356px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 267px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 168px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 340px;
  }
}